// .smart-chart .smart-chart-title-text {
//  display: inline-block;
//  position: relative;
//  transform: translate(-33%, -3%);
// }
.smart-chart  .smart-chart-axis-text {
    font-size: 12px;
    display: inline-block;
}
.charts-page smart-chart.barChart{
    height: 550px;
    // width: 1000px;
}